RewriteEngine On

<IfModule mod_headers.c>
Header always unset "X-Powered-By" 
Header unset "X-Powered-By"
Header set Strict-Transport-Security "max-age=31536000; includeSubDomains;preload"
Header always set X-XSS-Protection "1; mode=block"
Header always set X-FRAME-OPTIONS "DENY"
Header always edit Set-Cookie (.*) " $1; HttpOnly; Secure"
Header always set X-Content-Type-Options "nosniff"
Header set Referrer-Policy "same-origin"
</IfModule>

<Files "*.txt">
Order Allow,Deny
Deny from all
</Files>

<Files "*.json">
Order Allow,Deny
Deny from all
</Files>

<Files "*.lock">
Order Allow,Deny
Deny from all
</Files>

<Files "*.yml">
Order Allow,Deny
Deny from all
</Files>

<Files "*.gitignore">
Order Allow,Deny
Deny from all
</Files>

# 6G:[BAD IPS]
<Limit GET POST PUT>
 Order Allow,Deny
 Allow from all
 # uncomment/edit/repeat next line to block IPs
 # Deny from 123.456.789
</Limit>

RewriteCond %{SERVER_PORT} !^443$
RewriteRule (.*) https://%{HTTP_HOST}/$1 [R=301,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?page=$1 [L,QSA]


